body {
	background-color:powderblue;
	padding: 5px;
	border: 1px solid black;
}

table {
		border: 2px solid black;
		border-collapse: collapse;
		width: 50%;
}

th, td {
		border: 1px solid black;
		padding: 5px;
		text-align: center;
}

th {
	background-color: lightgray;
}

h1 {
	color: blue;
	text-align: center;
}

p {
	color: red
}